:root {
    --first-color-hue: 173;
    --second-color-hue: 36%;
    --third-color-hue: 55%;

    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsla(var(--first-color-hue), var(--second-color-hue), var(--third-color-hue), 1);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

::-ms-input-placeholder { /* Edge 12-18 */
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-light);
    background: var(--color-dark);
    min-width: 320px;
    width: 100%;
}

hr {
    border: 1px solid;
}

a {
    color: var(--color-dark);
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

pre,
code {
    white-space: pre;
    overflow: auto;
}

/* ========================TOP BAR========================= */
.topbar {
    width: 100%;
    height: 3rem;
    background-color: var(--color-dark);
    padding: var(--btn-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .left-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.topbar .img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.topbar .left-logo img {
    width: 100%;
    object-fit: cover;
}

.topbar .left-logo .logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 900;
}

.topbar .left-logo .logo-text span {
    line-height: 15px;
}

.topbar .search-panel {
    width: 30%;
    height: 2rem;
    border: 1px solid var(--color-light);
    border-radius: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .search-panel input[type="search"] {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50px;
}

.topbar .change-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* width: 50px; */
}

img.icon {
    width: 25px;
    object-fit: cover;
    align-self: center;
}

.icon.dark {
    display: none;
}

.ca-panel {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-weight: 800;
    font-style: italic;
}

.ca-panel .ca-address {
    height: 2.5rem;
    width: 75%;
    background-color: var(--color-gray);
    border-right: 1px solid;
    border-radius: 30px 0 0 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ca-panel .ca-button {
    height: 2.5rem;
    width: 25%;
    border-left: 1px solid;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-gray);
    cursor: pointer;
}

.doge-game {
    height: 85vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.actions-panel {
    width: 100%;
    padding: var(--card-padding);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.actions .action-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.actions .action-left .like-action {
    display: flex;
}

.actions .action-left .like-action .like {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 50px 0 0 50px;
}

.actions .action-left .like-action .dislike {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 0 50px 50px 0;

}

.actions .action-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.actions .action-right .feedback {
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5rem 1rem;
}

.actions .action-right .zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}

.actions-panel .categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px;
}

.actions-panel .categories .category {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50px;
    padding: 0.5rem 1rem;
}

.actions-panel h1 {
    margin: 20px;
    font-size: 40px;
    font-weight: 800;
}

.actions-panel .share {
    width: 30%;
    border: 1px solid;
    border-radius: 50px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1.5rem 2rem;
    margin: 20px;
}

.actions-panel .description {
    background-color: var(--color-gray);
    color: var(--color-white);
    border-radius: 10px;
    padding: var(--card-padding);
    margin: 20px;
}

.actions-panel h3 {
    margin: 20px;
}

@media (max-width: 1000px) {
    .ca-panel {
        width: 70%;
    }
}

@media (max-width: 770px) {
    .ca-panel {
        width: 80%;
    }
    .actions-panel .share {
        width: 50%;
    }
}

@media (max-width: 630px) {
    .ca-panel {
        width: 90%;
    }
    .ca-panel .ca-address {
        width: 60%;
    }
    .ca-panel .ca-button {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .actions {
        flex-wrap: wrap-reverse;
        gap: 15px;
    }
    .actions .action-right {
        width: 100%;
    }
    .actions .action-right .feedback {
        width: 100%;
    }
    .actions .action-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .actions-panel .share {
        width: 90%;
    }
    .actions-panel .categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
    }
    .ca-panel, .doge-game, .actions-panel .categories, .actions-panel h1, .actions-panel .share, .actions-panel .description, .actions-panel h3 {
        margin: 20px 10px;
    }
    .actions {
        margin: 0 10px;
    }
    .topbar {
        padding: var(--btn-padding) 10px;
    }
    .actions-panel h1 {
        font-size: 30px;
    }
}